<section data-ng-controller="Stem4allsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Stem4alls</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="stem4all in stem4alls" data-ng-href="#!/stem4alls/{{stem4all._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="stem4all.created | date:'medium'"></span>
				by
				<span data-ng-bind="stem4all.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="stem4all.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!stem4alls.$resolved || stem4alls.length">
    	No Stem4alls yet, why don't you <a href="/#!/stem4alls/create">create one</a>?
    </div>
</section>